.chats-subbox-box {
  justify-content: space-between;
}
.chats-subbox-box > img {
  width: 50px;
  height: 50px;
}
.chats-subbox-box-box {
  display: flex;
  flex-direction: column;
  margin-right: 110px;
}
.chats-subbox-box-mainspan {
  margin-bottom: 10px;
  font-size: 20px;
}
.chats-subbox-box-subspan {
  font-size: 15px;
  opacity: 0.7;
}
.chats-subbox-box-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chats-subbox-box-end-text {
  opacity: 0.7;
}
.chats-subbox-box-end-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: 10px;
}
