@import "reset.css";
@import "status-bar.css";
@import "login-page.css";
@import url(component.css);
@import url(friends-page.css);
@import url(chats-page.css);
@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  color: white;
  font-family: "NeoDunggeunmoPro-Regular";
  background: linear-gradient(-45deg, #601c57, #4b3b4b, #000000, #663661);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100vw;
}
